body {
    background-color: #fafafa;
    text-align: center;
    margin-top: 80px;
    width: 640px;
}
h1 {
    font-family: sans-serif;
    font-weight: 200;
    font-size: 24px;
    color: #1a1a1a;   
}
h2 {
    font-family: sans-serif;
    font-weight: 200;
    font-size: 12px;
    color: #b4b4b4;
}